<div class="card mb-3 shadow p-2 border">
    <div class="row g-0">
        <div class="col-md-4 bg-light">
            <img src="{{.Params.FeaturedImage}}" class="img-fluid rounded mx-3 my-3 shadow-lg" width="78%" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <small class="text-muted">{{ .Date.Format "Jan 2, 2006" | safeHTML }}</small>
                <h5 class="card-title">{{.Title}}</h5>
                <p class="card-text">{{.Summary}}</p>
                <a href="{{.Permalink}}" class="btn btn-info stretched-link">Read more...</a>
            </div>
        </div>
    </div>
</div>
