<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <style>
        /* hack to make the footer always stay at the bottom */
        html {
            position: relative;
            min-height: 100%;
        }
        body {
            margin-bottom: 80px;
        }
        .footer {
            width: 100%;
            padding: 20px;
            position: absolute;
            bottom: 0;
        }
        /* navbar styling */
        .nav-link {
            text-decoration: underline;
            text-underline-offset: 2px;
        }
        .nav-link:hover, .nav-link.active {
            text-decoration: none;
        }
    </style>

    <link rel="icon" href="/img/black_notextfavicon.png" />

    {{ block "title" . }}
        {{ if eq .URL "/" }}
            <title>Home | {{.Site.Title}}</title>
        {{ else }}

            <title>{{.Page.Title}} | {{.Site.Title}}</title>
        {{ end }}
    {{ end }}

    {{- partial "seo.html" . -}}
</head>
