{{ $paginator := .Paginate (where .Pages "Type" "posts") }}
{{ if gt $paginator.TotalPages 1 }}

<nav aria-label="Post navigation by page" class="text-center">
    <div class="btn-group">
        <a class="btn btn-light {{ if eq $paginator.PageNumber 1 }}disabled{{ end }}" href="{{ $paginator.First.URL }}">
           First
        </a>

        <a class="btn btn-light {{ if eq $paginator.HasPrev false }}disabled{{ end }}"
          aria-label="Previous"
          {{ if eq $paginator.HasPrev false }}href="#"{{ else }}href="{{ $paginator.Prev.URL }}"{{ end }}
        >
           <i class="fas fa-caret-left fa-xl"></i> 
        </a>

        {{ range $paginator.Pagers }}
           <a href="{{ .URL }}" class="btn {{ if eq .URL $paginator.URL }}btn-secondary{{ else }}btn-light{{ end }}">{{ .PageNumber }}</a>
        {{ end }}

        <a class="btn btn-light {{ if eq $paginator.HasNext false }}disabled{{ end }}"
          aria-label="Next"
          {{ if eq $paginator.HasNext false }}href="#"{{ else }}href="{{ $paginator.Next.URL }}"{{ end }}
        >
           <i class="fas fa-caret-right fa-xl"></i> 
        </a>

        <a class="btn btn-light {{ if eq $paginator.PageNumber $paginator.TotalPages }}disabled{{ end }}" href="{{ $paginator.Last.URL }}">Last</a>
    </div>
</nav>
{{ end }}
