{{ define "main" }}
<main role="main">
	<div class="container-fluid p-5 bg-dark text-light text-center">
		<h2>A next-generation operating system.</h2>
			<p class="lead">Whether you're researching theoretical physics, playing the latest games, or managing cloud infrastructure, Serpent OS can do it better and faster.</p>

			<a href="https://opencollective.com/serpent-os/contribute" class="my-2" target="_blank">
				<img src="https://opencollective.com/webpack/contribute/button@2x.png?color=blue" width=300 />
			</a>
		</div>
	</div>

	<div class="container-fluid pt-5 p-lg-5">
		<h2 class="text-muted">Our goals</h2>
		<div class="row">
			<div class="col-sm-12 col-lg-3">
				<div class="card">
					<div class="card-body row">
						<i class="fas fa-tools text-info fa-2x mx-3 col-1"></i>
						<div class="col">
							<h4>Flexible</h4>
							<p>Allows you to be in charge, getting out of the way so you can do things your way.</p>
							<a class="btn btn-info stretched-link" href="/flexibility">Find out more<i class="fas fa-chevron-right mx-2 fa-xs"></i></a>
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-12 col-lg-3">
				<div class="card">
					<div class="card-body row">
						<i class="fas fa-bolt text-info fa-2x mx-3 col-1"></i>
						<div class="col">
							<h4>Fast</h4>
							<p>Squeezes every last bit of performance out of your computer using sophisticated optimizations.</p>
							<a class="btn btn-info stretched-link" href="/performance">Find out more<i class="fas fa-chevron-right mx-2 fa-xs"></i></a>
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-12 col-lg-3">
				<div class="card">
					<div class="card-body row">
						<i class="fas fa-hands-helping text-info fa-2x mx-3 col-1"></i>
						<div class="col">
							<h4>Reliable</h4>
							<p>Built on top of battle-tested, industry-standard technologies like the Linux kernel and LLVM.</p>
							<a class="btn btn-info stretched-link" href="/reliable">Find out more<i class="fas fa-chevron-right mx-2 fa-xs"></i></a>
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-12 col-lg-3">
				<div class="card">
					<div class="card-body row">
						<i class="fas fa-lightbulb text-info fa-2x mx-3 col-1"></i>
						<div class="col">
							<h4>Smart</h4>
							<p>Subscriptions save disk space and make life easier by installing exactly the packages you want.</p>
							<a class="btn btn-info stretched-link" href="/subscriptions">Find out more<i class="fas fa-chevron-right mx-2 fa-xs"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
{{ end }}
