<div class="row">
    <div class="col-6 col-sm-3">
        <img src="/img/fosshost.org_Cloud_Light.png" class="img-fluid" width="60%" />
    </div>
    <div class="col-6 col-sm-6">
        <p>
            Our partnership with <a href="https://fosshost.org">fosshost.org</a> provides us with hosting for our main
            <a href="https://download.serpentos.com">download server</a>.
            Additionally, they host our downloads &amp; repository on their dedicated mirror network. Through the hard
            work of fosshost, we're able to build scale into our architecture from the very start.
        </p>
    </div>
</div>
