{{ define "title" }}
<title>Blog | Serpent OS</title>
{{ end }}

{{ define "main" }}
<main role="main">

	<div class="container py-5">
		<h2 class="text-muted">Latest blog posts</h2>
		<p class="lead">Keep up to date with the latest development updates to Serpent OS</p>
	</div>

    <div class="container">
        {{ .Content }}

        {{ range .Paginator.Pages }}
            {{ partial "blogentry.html" . }}
        {{ end }}
        {{ partial "pagination.html" . }}
    </div>

</main>
{{ end }}
