{{ define "main" }}
<main role="main">
    <div class="container page-content p-5">
  		<h2>{{ .Page.Title }}</h2>
  		{{ if hasPrefix .URL "/blog/" }}
  			<p class="lead">
  				{{ range .Params.authors }}
  					{{ with $.Site.GetPage "taxonomyTerm" (printf "authors/%s" (urlize .)) }}
  						{{ .Params.name }} <span class="badge bg-info">{{ .Params.role }}</span>
  					{{ end }}
  				{{ end }}&nbsp;&bull;&nbsp;{{ .Date.Format "Jan 2, 2006" | safeHTML }}</p>
  		{{ else }}
  		    <p class="lead">{{ .Params.callout }}</p>
  		{{ end }}
    	{{ .Content }}
    </div>
</main>
{{ end }}
